/* Color styles */
:root {
    --bg-color-light-gray: rgba(242, 243, 245, 1);
    --bg-color-light-white: rgba(255, 255, 255, 1);
    --bg-color-light-light-grey: rgba(249, 249, 250, 1);
    --bg-color-light-popup-bg: rgba(0, 0, 0, 0.6);
    --bg-color-dark-grey: rgba(23, 26, 30, 1);
    --bg-color-dark-black: rgba(20, 21, 26, 1);
    --bg-color-dark-dark-gray: rgba(35, 37, 45, 1);
    --bg-color-dark-popup-bg: rgba(172, 172, 172, 0.1);
    --primary-color-light-10: rgba(233, 250, 207, 1);
    --primary-color-light-20: rgba(206, 255, 127, 1);
    --primary-color-light-30: rgba(142, 205, 30, 1);
    --primary-color-light-40: rgba(83, 130, 0, 1);
    --primary-color-light-50: rgba(219, 237, 210, 1);
    --primary-color-light-grey-green: rgba(160, 198, 142, 1);
    --primary-color-dark-10: rgba(45, 51, 58, 1);
    --primary-color-dark-20: rgba(142, 205, 30, 1);
    --primary-color-dark-30: rgba(160, 238, 9, 1);
    --primary-color-dark-40: rgba(217, 255, 142, 1);
    --primary-color-dark-50: rgba(64, 84, 25, 1);
    --primary-color-dark-grey-green: rgba(113, 138, 66, 1);
    --text-color-light-highlight: rgba(37, 99, 235, 1);
    --text-color-light-00: rgba(255, 255, 255, 1);
    --text-color-light-10: rgba(227, 229, 235, 1);
    --text-color-light-20: rgba(200, 203, 215, 1);
    --text-color-light-30: rgba(173, 177, 195, 1);
    --text-color-light-40: rgba(145, 151, 176, 1);
    --text-color-light-50: rgba(118, 126, 156, 1);
    --text-color-light-60: rgba(90, 102, 137, 1);
    --text-color-light-70: rgba(71, 77, 101, 1);
    --text-color-light-80: rgba(51, 55, 67, 1);
    --text-color-light-90: rgba(32, 33, 33, 1);
    --text-color-light-100: rgba(7, 7, 7, 1);
    --text-color-dark-highlight: rgba(68, 143, 255, 1);
    --text-color-dark-00: rgba(20, 26, 30, 1);
    --text-color-dark-10: rgba(46, 54, 59, 1);
    --text-color-dark-20: rgba(72, 81, 88, 1);
    --text-color-dark-30: rgba(98, 109, 116, 1);
    --text-color-dark-40: rgba(123, 136, 145, 1);
    --text-color-dark-50: rgba(149, 164, 173, 1);
    --text-color-dark-60: rgba(175, 191, 202, 1);
    --text-color-dark-70: rgba(202, 213, 220, 1);
    --text-color-dark-80: rgba(229, 234, 238, 1);
    --text-color-dark-90: rgba(255, 255, 255, 1);
    --text-color-dark-100: rgba(255, 255, 255, 1);
    --buy-light-10: rgba(232, 252, 241, 1);
    --buy-light-20: rgba(165, 225, 191, 1);
    --buy-light-30: rgba(101, 186, 119, 1);
    --buy-light-40: rgba(65, 158, 106, 1);
    --buy-dark-10: rgba(33, 112, 67, 0.3);
    --buy-dark-20: rgba(94, 148, 124, 1);
    --buy-dark-30: rgba(72, 196, 142, 1);
    --buy-dark-40: rgba(39, 172, 114, 1);
    --sell-light-10: rgba(255, 235, 235, 1);
    --sell-light-20: rgba(252, 149, 149, 1);
    --sell-light-30: rgba(227, 85, 97, 1);
    --sell-light-40: rgba(176, 18, 18, 1);
    --sell-dark-10: rgba(144, 43, 43, 0.3);
    --sell-dark-20: rgba(221, 94, 86, 0.4);
    --sell-dark-30: rgba(221, 94, 86, 1);
    --sell-dark-40: rgba(207, 59, 49, 1);
    --notifications-light-blue01: rgba(230, 239, 250, 1);
    --notifications-light-blue02: rgba(0, 108, 229, 1);
    --notifications-light-green01: rgba(232, 252, 241, 1);
    --notifications-light-green02: rgba(65, 158, 106, 1);
    --notifications-light-red01: rgba(255, 235, 235, 1);
    --notifications-light-red02: rgba(216, 50, 50, 1);
    --notifications-light-yellow01: rgba(254, 247, 234, 1);
    --notifications-light-yellow02: rgba(238, 149, 0, 1);
    --notifications-light-purple01: rgba(242, 234, 254, 1);
    --notifications-light-purple02: rgba(105, 0, 238, 1);
    --notifications-dark-blue01: rgba(55, 72, 84, 0.8);
    --notifications-dark-blue02: rgba(0, 108, 229, 1);
    --notifications-dark-green01: rgba(55, 70, 55, 0.8);
    --notifications-dark-green02: rgba(65, 158, 106, 1);
    --notifications-dark-red01: rgba(70, 55, 55, 0.8);
    --notifications-dark-red02: rgba(216, 50, 50, 1);
    --notifications-dark-yellow01: rgba(91, 81, 60, 0.8);
    --notifications-dark-yellow02: rgba(238, 149, 0, 1);
    --notifications-dark-purple01: rgba(55, 59, 70, 0.8);
    --notifications-dark-purple02: rgba(121, 113, 211, 1);
}
